@model ChangePasswordVM
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Şifrəni dəyiş</h4>
                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="OldPassword">Köhnə şifrə</label>
                        <input asp-for="OldPassword" class="form-control">
                        <span asp-validation-for="OldPassword" class="alert-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">Yeni Şifrə</label>
                        <input asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="alert-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword">Şifrəni təkrarıayın</label>
                        <input asp-for="RepeatPassword" class="form-control">
                        <span asp-validation-for="RepeatPassword" class="alert-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Qeyd edin</button>
                    <a asp-action="Index" class="btn btn-light">Çıxın</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}