@model Branches
@{ ViewData["Title"] = "Detail"; }

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4> Şöbənin adı: @Model.Name</h4>
                <div>
                    Həkimləri:
                    @foreach (Doctors item in ViewBag.Doctors)
                    {
                        <div class="d-inline">@item.FullName,</div>
                    }
                </div>
                <a class="btn btn-primary my-3" asp-action="Index">Geriyə</a>
            </div>
        </div>
    </div>
</div>