@model Partners
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Partnyor yaradın</h4>

                <form method="post" enctype="multipart/form-data" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Name">Adı</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="alert-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Photo">Loqosu</label>
                        <input asp-for="Photo" class="form-control">
                        <span asp-validation-for="Photo" class="alert-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Information">Haqqında</label>
                        <input asp-for="Information" class="form-control">
                        <span asp-validation-for="Information" class="alert-danger"></span>

                    </div>

                    <button type="submit" class="btn btn-primary me-2">Qeyd edin</button>
                    <a asp-action="Index" class="btn btn-light">Çıxın</a>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}
