@model Partners
@{ ViewData["Title"] = "Detail"; }

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="d-flex justify-content-center"> <img style="object-fit : cover; width: 100px; height: 100px;" src="~/images/partners/@Model.Image" /> </div>

                <h4>
                    Adı : @Model.Name
                </h4>

                <div> Haqqında : @Model.Information</div>





                <a class="btn btn-secondary  btn-sm my-3" asp-action="Index">Geriyə</a>
            </div>
        </div>
    </div>
</div>

