@model Patients
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Xəstə redaktə edin</h4>
            
                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Name">Adı</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="alert-danger"></span>

                    </div>


                    <div class="form-group">
                        <label>Vəzifə seçin</label>
                        <select class="form-control" name="posId">
                            @foreach (Doctors doctors in ViewBag.Doctors)
                            {
                <option value="@doctors.Id">@doctors.FullName</option>
}

                        </select>
                    </div>
                             <div class="form-group">
                        <label asp-for="Contact">Əlaqə nömrəsi</label>
                        <input asp-for="Contact" class="form-control">
                        <span asp-validation-for="Contact" class="alert-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Reason">Gəliş səbəbi</label>
                        <input asp-for="Reason" class="form-control">
                        <span asp-validation-for="Reason" class="alert-danger"></span>

                    </div>
      
                    <button type="submit" class="btn btn-primary me-2">Qeyd et</button>
                    <a asp-action="Index" class="btn btn-light">Çıx</a>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}


